<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
    <div id="top-division">
      <a href="{{ url_for('homepage') }}">
        <img src="images/logo.png" alt="Logo" class="corner-image">
      </a>
      Minpik Game Review
    </div>
    <br>
    <h1 id="popular_games_section">Popular Games</h1>
    <div class="image-grid">
      {% for game in popular_games %}
        <a href="/game/{{ game['id'] }}">
          <img src="{{ url_for('static', filename=game['image']) }}" alt="{{ game['title'] }}">
        </a>
      {% endfor %}
    </div>
    <br>
    <h1 id="recommended_games_section">Explore Games</h1>
    <div class="image-grid">
      {% for game in explore_games %}
        <a href="/game/{{ game['id'] }}">
          <img src="{{ url_for('static', filename=game['image']) }}" alt="{{ game['title'] }}">
        </a>
      {% endfor %}
    </div>
  </body>
</html>
