<html>
    <head>
        <title> login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    
    <body>
        <div id="top-division">
            <a href="{{ url_for('homepage') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="corner-image">
            </a>
            <span>Minpik Game Review</span>
        </div>
        
        <h1> Log in </h1>
        <form id="login" method="POST" action="/login">
            <div class= "wrapper">
                <div class= "input-box">
                    <h3> Username </h3>
                    <input type="text" id="username" name="username" required>
                    <h3> Password </h3>
                    <input type="text" id="password" name="password" required>
                </div>
                <br>
                <button type="submit" id="login-button" class="button">Log in</button>
                <h3>
                    Don't have an account? <a href="{{ url_for('register') }}">Register</a>
                </h3>
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}            
            </div>
        </form>
    </body>
</html>
